body {
background-image: url(luxfon.com-4391.jpg.crdownload);
}

.menu{
 font-family: 'Courier New', Courier, monospace;
text-align: center;
font-size: 20px;


}
.otzyv{
   text-align: center;
   margin: 10px 0px 0px 600px;
   color:yellow;

}